body {
    background-color: #131125;
    display: flex;
    justify-content: center;
    color: white;
    font-family: "Arial";
}
.server-modal {
    width: 100%;
    top: 0px;
    position: fixed;
    height: 100%;
    background-color: #000000e3;
    display: none;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}
.player-table {
    background-color: #0b0918;
    width: 37em;
}
.server-details {
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 37em;
    height: 380px;
    background: #1a1a1a;
}
.server-map-image {
    box-shadow: black 0px 0px 0px 1px;
}
.player-table-columns {
    background-color: black;
}
.close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    padding: 12px;
}
.server-header {
    background-color: #1a1a1a;
    text-align: center;
    font-weight: 600;
    padding: 6px;
}
.server-text {
    padding: 7px;
}
.host {
    font-weight: 700;   
}
.name {
    font-weight: 700;
}
.ip {
    font-weight: 700;
}
.status {
    font-weight: 700;
}
.header-bar {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.header-bar img {
    width: 30px;
    height: 30px;
    padding: 19px;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.browser-title {
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}
.game-state-label {
    text-align: right;
    font-weight: 300;
    margin-top: 30px;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
.content {
    max-width: 800px;
    width: 80%;
    margin-bottom: 3em;
}
.loading {
    height: 70px;
}
.reload {
    width: 20px !important;
    height: 20px !important;
    padding: 10px !important;
    order: 3 !important;
    display: block;
    cursor: pointer;
    opacity: 0.5;
    margin-left: 10px;
}
.reload:hover {
    opacity: 1;
    border-radius: 10px;
    background: #ffffff14;
}
.gameServer {
    cursor: pointer;
}
.gameServer:hover {
    background-color: rgb(27, 27, 27);
}
.server-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 0.9em;
  }
  
  td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
  tr:first-child {
    border-bottom: 1px solid white;
  }
  
  tr:nth-child(even) {
    background-color: #000000c9;
  }
  tr:not(:first-child):hover {
    cursor: pointer;
    background-color: #ffffff21;
}
  @media all and @max-width (max-width: 500px) {
    body {
        background-color: red;
    }
    .content {
        background-color: green;
    }
    table {
        font-size: 0.5em;
    }
  }

  @media all and (max-width: 750px) {
    .content {
        max-width: 100%;
        width: 100%;
    }
    .server-table {
        font-size: 0.7em;
    }
    .header-bar {
        font-size: 10px;
    }
    .header-bar img {
        width: 25px;
        height: 25px;
        padding: 11px;
    }
    .game-state-label {
        margin-top: 20px;
        text-align: right;
        font-weight: 500; 
    }
    table {
        font-size: 0.7em;
    }
    td, th {
        padding: 5px;
    }
  }

